.product-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
}

.path {
    max-width: 201px;
}

.product-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 210px;
}

.sort {
    display: flex;
}

p {
    margin: auto;
}

.after-price {
    font-weight: bold;
    font-size: large;
}

/* input {
    border-bottom: 1px solid #bbbbbb !important;
} */

body {

    font-family: monospace;
    margin: auto;
    margin-top: 0px;
}

.filter-controls {
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-wrap: wrap;
}

.filter {
    align-self: center;

}

.filter>* {
    /* border: 1px solid; */
    /* border-radius: 4px; */
    /* color: black; */
    /* border: none; */
    margin-top: 10px;
}

select,
.gold {
    margin-right: 10px;
}

[type="number"],
[type="text"] {
    /* margin-right: -8px; */
    width: 100px;
    padding-left: 5px;
}

button {
    /* border-radius: 4px; */
    margin-right: 20px;
    border-radius: 3px;
    color: white;
    background: #034694;
    font-weight: bold;
    border: none;
    padding: 3px 7px 3px 7px;
}

#productCount {
    place-self: center;
}


.gold {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}